body{
    overflow: hidden;
    background-image: url("../img/bg.jpg");
     background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
table{
    overflow: scroll;
    max-height: 20rem;
}

.nav-wrapper{
    background-color: rgba(66, 117, 211, 0.773);
}
.main{
    background-color: #3a87d48b;
}
.bg{
    height:calc(100vh - 70px);
    
}



.search-form{
    padding : 1rem;
    color: #ffffff;
    font-size: 0.8rem;
}

input, label {
    display:block;
    
}

h2{
    font-size : 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
}

.add-btn{
    font-size: 0.8rem;
}

.update-form .btn{
    width: 13rem;
    margin: auto;
    
}
.update-form{
    background-color: rgb(65, 110, 206);
    padding-bottom:2rem;
    padding-top:0.5rem;
    padding-left:2rem;
    padding-right:2rem;
    border-radius: 1rem;
}

table{
    opacity:0.9;
    background-color: rgba(66, 117, 211, 0.773);
}

.modif-title{
    font-size:1.2rem;
    margin-bottom:1rem;

}

.label-add{
    font-size:0.8rem;
    margin-bottom: 0rem;
    opacity:0.8;
}

/* Sign in page */


.signin-form {
    padding-top : 1rem;
    padding-bottom : 3rem;
    padding-left : 3.5rem;
    padding-right : 3.5rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(88, 88, 88, 0.5); 
    box-shadow: 0px 0px 10px -1px rgba(88, 88, 88, 0.5);
    background-color: #fff;
    
}

.login-form{
    padding-top : 1rem;
    padding-bottom : 3rem;
    padding-left : 2.5rem;
    padding-right : 2.5rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(88, 88, 88, 0.5); 
    box-shadow: 0px 0px 10px -1px rgba(88, 88, 88, 0.5);
    background-color: #fff;
}

.signin, .login{
    height:100vh;
}
.sign-label, .label-login{
    font-size: 0.8rem;
    opacity : 0.8;
    

}
.sign-title, .login-title{
    font-size: 2.5rem;
}
#signin-bg, #login-bg{
    background-image: url("../img/bg.png");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}